/**css**/
#topup_section.nav-tabs {
    margin-bottom:0px;
    display: table;
    width: 100%;
	border-bottom:0;
	table-layout:fixed;
	margin-bottom:20px;
}
#topup_section.nav > li {
float:none;
display:table-cell;
text-align:center;
width: 100%;
}
#topup_section.nav-tabs > li.active > a, #topup_section.nav-tabs > li.active > a:hover, #topup_section.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: pointer;
    background-color: #73559e;
    border:0;
    border-bottom-color: transparent;
	border-radius:0;
	font-size:30px;
    font-family: 'helvitca-medium';
	margin-right:15px;
	margin-left:15px;
}
#topup_section.nav-tabs > li > a, #topup_section.nav-tabs > li > a:hover, #topup_section.nav-tabs > li > a:focus {
    color: #fff;
    cursor: pointer;
    background-color: #9d9d9c;
    border:0;
    border-bottom-color: transparent;
	border-radius:0;
	font-size:30px;
    font-family: 'helvitca-medium';
	margin-right:15px;
	margin-left:15px;
}
#topup-registration-form strong{
    font-family: "helvitca-medium";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 15px;
}
#edit-topup-amount .form-type-radio label{
color:#9d9d9c;
font-size:70px;
font-family:'helvitca-condensed';
position:relative;
display:block;
height:145px;
}
#edit-topup-amount .form-type-radio label input{
color:#73559E;
}
#edit-topup-amount .form-item{
display:inline-block;
margin-top:0;
padding-left:15px;
padding-right:15px;
vertical-align: top;
}

#edit-topup-amount  input[type="radio"] + i {
background:url("../images/chk-box-lg.png") 0px 0px no-repeat;
position:absolute;
bottom:0;
left:50%;
height:42px;
width:42px;
margin-left: -21px;
cursor:pointer;
}
#edit-topup-amount  input[type="radio"] {
opacity:0;
position:absolute;
margin:0;
padding:0;
}
#edit-topup-amount  input[type="radio"]:checked + i {
    background-position: 0px -43px;
}
#edit-topup-amount  input[type="radio"]:checked < label{
color:#73559E !important;
}

#topup-registration-form .panel-body{
padding:30px 60px;
}
#topup-sms p{
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #706f6f;
}
#topup-sms label {
    font-family: "helvitca-regular";
    font-size: 20px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 15px;
}
#topup-sms a {
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #73559e;
	cursor:pointer;
}

#edit-auto-topup-opt{
margin-left:0;

}
.topup-content{
padding-top:30px;
padding-bottom:30px;
}

.topup-content .checkbox{
display:inline-block;
padding-right:20px;
width: 75px;
height:30px;
position: relative;
margin:5px 10px;
vertical-align:top;
}
.topup-content .checkbox i{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
   border:1px solid #ADADAD;
}
.topup-content .checkbox i:before{
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  right:5px;
  bottom:3px;
  background-color:#ccc;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 50%;
}

.topup-content .checkbox input{
opacity:0;
position:absolute;
margin:0;
padding:0;
}

.topup-content .checkbox input:focus + i {
  box-shadow: 0 0 1px #2196F3;
}

.topup-content .checkbox input:checked + i:before {
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
    background-color: #2196F3;
}
.topup-content .control-label{
	font-weight:400;
}
.topup-content .control-label p{
    font-family: "helvitca-regular";
    font-size: 14px;
    color: #706f6f;
	font-weight:400;
}
.auto-topup{
background:#ededed;
display:block;
padding:15px 0;
}
.auto-topup  > label{
font-family: "helvitca-bold";
font-size: 20px;
color:#878787;
margin-right:20px;
margin-bottom:0;
}
.auto-topup span{
font-family: "helvitca-regular";
font-size: 24px;
color:#878787;
}

.payment-info p{
    font-family: "helvitca-regular";
    font-size: 14px;
    color: #706f6f;
}
.payment-info {
padding:30px 0px;
display:block;
width:100%;
}
.topup_payment strong {
    font-family: helvitca-medium;
    font-size: 30px;
    color: rgb(115, 85, 158);
    font-weight: 400;
    margin-bottom: 15px;
	margin-top:20px;
	display:block;
}
.topup_payment ul li a{
display:block;
}
.topup_payment ul li {
vertical-align:top;
padding-right:15px;
padding-left:15px;
}
.topup_payment ul li img{
margin-top:15px;
}
#topup-payment-form  h1 {
    font-family: "helvitca-medium";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
    margin-bottom:20px;
	display:block;
	margin-top: 0;
}
#topup-paysafe-step2-form h1 {
    font-family: "helvitca-medium";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
    margin-bottom:20px;
	display:block;
	margin-top: 0;
}
#topup-payment-form  h2 {
    font-family: "helvitca-bold";
    font-size: 20px;
    color:#706f6f;
    font-weight: 400;
    margin-bottom:20px;
	display:block;
	text-align:center;
	margin-top:0px;
}
.pay-details .panel-body {
padding:30px 60px 30px 60px;
}

#topup-paysafe-step2-form .panel-body {
    padding: 30px 60px 30px 60px;
}
#topup-paysafe-step2-form  h2 {
    font-family: "helvitca-bold";
    font-size: 20px;
    color: #706f6f;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    margin-top: 0px;
}
.pay-details label[for=edit-order-details] {
    display: block;
    margin-bottom: 0;
}
#topup-paysafe-step2-form .control-label {
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 5px;
}

#topup-paysafe-step2-form  .form-control {
    border-radius: 0;
    height: 40px;
}
#topup-paysafe-review-confirm strong {
    font-family: "helvitca-regular";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
}

#topup-paysafe-review-confirm .form-submit {
    margin-top: 45px;
    margin-bottom: 35px;
}
#topup-paysafe-review-confirm .form-item{
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
}
#topup-paysafe-review-confirm h1 {
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
	margin-bottom: 20px;
    line-height: 1.42833;

}

.edit-link{
float:right;
font-family: "helvitca-bold";
font-size: 20px;
color: #009fe3;
}
.order-details{padding-bottom:20px;}


.pay-details {margin-bottom:30px;}
.pay-details label[for=edit-order-details]{display:block;margin-bottom:0;}
.pay-details .form-item{
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #706f6f;
}
.pay-details .form-item strong{
    font-family: "helvitca-bold";
}
.secure-payment span{
display:block;
font-size:14px;
margin-bottom:10px;
}
.secure-payment p{
margin-bottom:0;
font-size:16px;
font-family: "helvitca-regular";
 color: #706f6f;
}
.secure-payment h4{
margin-top:30px;
margin-bottom:10px;
font-size:18px;
font-family: "helvitca-regular";
 color: #73559e;
}
.secure-payment .form-group{
margin-bottom:0;
}
#edit-expiry-title .form-group{
width:50%;
}
#edit-expiry-title .date-month{
padding-right:15px;
}
#edit-expiry-title .date-year{
padding-left:15px;
}
.pay-box .form-group{
margin-bottom:15px;
}
#topup-payment-form .form-control{
border-radius:0;
height:40px;
}
.pay-box .form-item-security-code{
width:70%;
display:inline-block;
}
.cvvno{
width:30%;
display:inline-block;
text-align:right;
vertical-align: bottom;
}
.paymentform-top p{
font-size:14px;
font-family: "helvitca-regular";
 color: #706f6f;
 margin-bottom:20px !important;
}
.paymentform-top .list-inline{
margin-bottom:20px;
}
#topup-payment-form  .control-label{
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #73559e;
    font-weight: 400;
    margin-bottom:5px;
}
#topup-payment-form .form-item-condition .control-label{
    font-family: "helvitca-regular";
    font-size:14px;
}
.link-back{
display:block;
text-align:right;
}
#topup-review-confirm strong {
   font-family: "helvitca-regular";
    font-size: 30px;
    color: #73559e;
    font-weight: 400;
}
#topup-review-confirm .form-item {
   font-family: "helvitca-regular";
    font-size:16px;
    color: #706f6f;
}
#topup-review-confirm  h1 {
   font-family: "helvitca-regular";
    font-size:16px;
    color: #706f6f;
	margin-bottom:20px;
	line-height:1.42833;
}
#topup-review-confirm .form-submit{
margin-top:45px;
margin-bottom:35px;
}
.accepted-cards ul li img{
/* -webkit-filter: grayscale(80%);
filter: grayscale(80%); */
opacity:0.5;
}
.accepted-cards ul li.card-active img{
/* -webkit-filter: grayscale(0%);
filter: grayscale(0%); */
opacity:1;
}
.topup_payment .panel-body{
padding:15px 40px;
}
.link-back a{
font-size:20px;
font-family: "helvitca-bold";
color:#73559e;
}
.topup-details #edit-topup-edit a{
font-size:18px;
font-family: "helvitca-bold";
color:#009fe3;
}
.card-details #edit-review-cancel-link a{
font-size:18px;
font-family: "helvitca-medium";
color:#d63232;
text-decoration:underline !important;
}
.card-details #edit-review-cancel-link a{
font-size:18px;
font-family: "helvitca-medium";
color:#d63232;
text-decoration:underline !important;
}
.addressbox{
margin-left:10%;
}
#edit-review-billing-address label{
margin-bottom:15px;
}
#topup-registration-form .form-submit{
margin-top:15px;
}
.topup-content .control-label {
font-family: "helvitca-regular";
font-size: 14px;
color: #706f6f;
}
.auto-topup {
margin-bottom:15px;
}
.toggle-btn.collapsed:after{
content:" [+]";
}
.toggle-btn:after{
content:" [-]";
}

@media (max-width:1199px){
.pay-details .panel-body {
    padding: 25px;
}
#edit-expiry-title .date-month {
    padding-right: 10px;
}
#edit-expiry-title .date-year {
    padding-left: 10px;
}
#topup-payment-form .container-inline-date .form-item .form-item {
    float: left;
    margin-bottom: 0;
}


}
@media (max-width:991px){
.auto-topup > label {
    display: block;
	margin-right:0;
	margin-bottom:10px;
}
.form-item-topup-amount{margin-bottom:0 !important;}
#dit-shop-with-conf img{width:100%;}
#topup-payment-form h1 {
    font-size: 24px;
}
#edit-shop-with-conf img{width:100%;height:auto}
.pay-details .form-item strong {
    font-size: 16px;
}
}
@media (max-width:767px){
#topup_section.nav-tabs > li > a, #topup_section.nav-tabs > li > a:hover, #topup_section.nav-tabs > li > a:focus {
    font-size: 24px;
	margin-right: 15px;
    margin-left: 10px;
}
#topup_section.nav-tabs > li.active > a, #topup_section.nav-tabs > li.active > a:hover, #topup_section.nav-tabs > li.active > a:focus {
    font-size: 24px;
    margin-right: 10px;
    margin-left: 15px;
}
#topup-registration-form .panel-body {
    padding: 20px;
}
#topup-sms p {
    font-size: 16px;
}
#topup-sms label {
    font-size: 18px;
    margin-bottom: 15px;
}
#topup-registration-form strong {
    font-size: 24px;
}
.topup_payment strong {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 0;
    display: block;
}
.topup_payment .list-inline > li {
display:block;
padding-right: 15px;
padding-left: 15px !important;
}
.pay-details .form-item {
    font-size: 16px;
}
#edit-shop-with-conf img {
    width: inherit;
    height: auto;
}
.secure-payment{text-align:center;}
.pay-details .panel-body {
    padding: 25px 40px;
}
.order-details{
padding:20px 35px;
background: #ededed;
margin-bottom:10px;
}
.order-details .col-xs-4{width:50%;}
.order-details .col-xs-8{width:50%;}
#topup-paysafe-step2-form .panel-body {
    padding: 30px;
}



}
@media (max-width:479px){
#topup_section.nav-tabs > li.active > a, #topup_section.nav-tabs > li.active > a:hover, #topup_section.nav-tabs > li.active > a:focus {
    font-size: 16px;
	margin-right:15px;
	margin-left:15px;
}
#topup_section.nav-tabs > li > a, #topup_section.nav-tabs > li > a:hover, #topup_section.nav-tabs > li > a:focus {
    font-size: 16px;
	margin-right:15px;
	margin-left:15px;
	margin-bottom:15px;
}
#topup_section.nav > li {
    display:block;
}
#topup_section.nav > li:last-child a {
margin-bottom:0 !important;
}

#edit-topup-amount .form-type-radio label {
margin-bottom:20px;
height:120px;
font-size: 60px;
}
.reg-box .col-sm-12{padding:0;}
.topup-content {
    padding-top: 0;
	padding-bottom:0;
}
#topup-sms p {
    font-size: 14px;
}
.payment-info img{
display:block;
max-width:100%;
}
.topup_payment .panel-body {
    padding: 10px;
}
.btn-grey-dark.register-btn {
    font-size: 18px !important;
    padding: 6px 15px 6px 15px !important;
}
.topup_payment strong {
    font-size: 20px;
}
.order-details .col-xs-4{width:100%;padding:0;}
.order-details .col-xs-8{width:100%;padding:0;}
.order-details {
    padding:0px 35px 15px 35px;
	background:transparent;
}
.pay-details .panel-body {
    padding:25px 15px;
}
#topup-payment-form h1 {
    text-align: left;
	font-size: 18px;
}
#topup-payment-form  .paymentform-top h1 {
    text-align: center;
}
.edit-link {
    font-size: 16px;
}
.pay-details .form-item strong {
    font-size: 14px;
}
.secure-payment p {
    font-size: 14px;
}
.paymentform-top{padding:0 !important}
#edit-email-address{margin-bottom:0;}

.paymentform-top .list-inline {
    text-align: center;
}
.paymentform-top .list-inline li {
margin-bottom:10px;
}
.paymentform-top ~ .col-sm-6 {
padding:0;
}
.cvvno img{width:100%;margin-bottom:10px;margin-left:5px;}
#topup-payment-form .form-control {
 height: 32px;
}
#topup-payment-form .control-label {
  font-size: 16px;
}
#topup-paysafe-step2-form #order_details{
text-align:left;
font-size:18px;
}
.order-details {
    padding: 20px;
}
#topup-paysafe-step2-form  .pay-box .panel-body {
    padding:20px 0;
}
#topup-paysafe-step2-form  .pay-box .form-control{
height:32px;
font-size:14px;
}
#topup-paysafe-step2-form h1 {
    font-size: 20px;
}
#topup-paysafe-step2-form .control-label {
    font-size: 14px;
}
}